html,
body {
  margin: 0px;
  height: 100%;
}
.bg_heart {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("https://i.postimg.cc/9X12PzvM/msg949397019-11961-1.jpg");
  background-size: 100vh 100vh;
  background-size: cover;
  z-index: -1;
  animation: vineet 55s infinite ease-in-out;
}

@keyframes vineet {
  0% {
    background-image: url("https://i.postimg.cc/Xvnxg7Mj/msg949397019-11962-1.jpg");
  }
  25% {
    background-image: url("https://i.postimg.cc/wTHVzjvh/msg949397019-11963-3.jpg");
  }
  50% {
    background-image: url("https://i.postimg.cc/Nj2LP1cb/msg949397019-11964-2.jpg");
  }
  80% {
    background-image: url("https://i.postimg.cc/9X12PzvM/msg949397019-11961-1.jpg");
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  font-family: cursive;
}
